<!DOCTYPE html>
<html>
<head>
    <title>BMI calculator of ExLive</title>
</head>


<body>
    <h1 style="background-color: gold;">
        <span>ExLive - Body Mass Index (BMI) calculator:</span>
        <img src="/static/images/bmi.png" alt="Example Image" width="35" height="35" style="display: inline-block;">
    </h1>
    <form method="post" action="">
        {{form.hidden_tag() }}
        {{form.user_weight }}
        {{form.user_height }}
        {{form.claculate_user_bmi }}
    </form>
    {% with messages = get_flashed_messages(with_categories=true, category_filter='bmi_calc_response') %}
        {% for message in get_flashed_messages() %}
            <span style="color: green;">{{ message }}</span>
        {% endfor %}
    {% endwith %}
    
    <p>
        <a href="{{url_for('user_dashboard')}}">Dashboard</a>
        <img src="/static/images/dashboard.png" alt="Example Image" width="30" height="30" style="display: inline-block;">
    </p>
    <p><a href="{{url_for('user_fitness_program')}}">Fitness Programs</a></p>
    <p><a href="{{url_for('user_signout')}}">Sign Out</a></p>
</body>
</html>