<!DOCTYPE html>
<html>
<head>
    <title>Fitness Programs of ExLive</title>
    <style>
        /* Add spacing to form elements */
        select {
            margin-bottom: 10px;
            margin-right: 15px;
        }
    </style>
</head>


<body>
    <h1>Fitness Programs - Dashboard:</h1>
    <p>To receive the workout program, please answer the following question about your exercise goal and then write an email requesting the program.</p>
    <form action="/fitnessprogram" method="POST">
        What is your exercise goal?
        <select name= fitprgrms>
            <option selected disabled>My goal is ...</option>
            {% for g in fit_programs %}
            <option value="{{g.excersiegoal}}">{{g.excersiegoal}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="submit_button" value="Submit">
    </form>
    {% with messages = get_flashed_messages(with_categories=true, category_filter='res_user_fitness_program') %}
        {% for category, message in messages %}
            <div style="color: green;">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    <p><a href="{{url_for('user_dashboard')}}">Dashboard</a></p>
    <p><a href="{{url_for('user_bmi')}}">Calculate BMI</a></p>
    <p><a href="{{url_for('user_signout')}}">Sign Out</a></p>
</body>
</html>