<!DOCTYPE html>
<html>
<head>

    <title>Home Page of ExLive</title>

</head>

<body>
    <h1 style="background-color: gold;">
        Welcome to ExLive!
        <img src="/static/images/scooter.png" alt="Example Image" width="40" height="40" style="float: right; margin-right: 1125px;">
    </h1>
    <p style="color: green;">ExLive: we want to be more healthy and safe.</a></p>
    <p><a href="{{url_for('user_signin')}}">Sign in</a></p>
    <p><a href="{{url_for('user_signup')}}">Sign up</a></p>

</body>
</html>