<!DOCTYPE html>
<html>
<head>

    <title>Home Page of ExLive</title>

</head>

<body>
    <h1 style="background-color: gold;">
        Welcome to ExLive!
        <img src="/static/images/walking.png" alt="Example Image" width="40" height="40" style="float: right; margin-right: 1125px;">
        <img src="/static/images/running.png" alt="Example Image" width="40" height="40" style="float: right; margin-right: 1115px;">
        <img src="/static/images/muscle.png" alt="Example Image" width="40" height="40" style="float: right; margin-right: 1105px;">
        <img src="/static/images/jumping-rope.png" alt="Example Image" width="40" height="40" style="float: right; margin-right: 1095px;">
    </h1>
    <p style="border: 1px solid yellowgreen; padding: 5px;">At ExLive, we want to promote overall health by taking steps towards a healthier lifestyle.</a></p>
    <p><a href="{{url_for('user_signin')}}">Sign in</a></p>
    <p><a href="{{url_for('user_signup')}}">Sign up</a></p>

</body>
</html>