<!DOCTYPE html>
<html>
<head>
    <title>Sign-up Page of ExLive</title>
</head>


<body>
    <h1 style="background-color: gold;">
      <span>ExLive - Sign up:</span>
      <img src="/static/images/signup.png" alt="Example Image" width="40" height="40" style="display: inline-block;">
    </h1>
    
    <form method="post" action="">
        {{form.hidden_tag() }}
        {{form.username }}
        {{form.useremail }}
        {{form.password }}
        {{form.submit }}
    </form>
    {% for error in form.username.errors %}
      <span style="color: red;">***{{ error }}***</span>
    {% endfor %}
    {% for error in form.useremail.errors %}
      <div class="error-message" style="color: red;">***{{ error }}***</div>
    {% endfor %}
    <br>
    <a href="{{url_for('user_signin')}}">
      Already have account? please "sign in"
      <img src="/static/images/signin.png" alt="Example Image" width="35" height="35" style="display: inline-block;">
    </a>
    <br>
    <br>
    <a href="{{url_for('home')}}">Home page</a>
</body>
</html>